header {
    display: flex;
    place-items: center;
    justify-content: center;
    padding: 20px 50px;
    background-color: #3274d6;
    height: auto;
}

nav{
    margin: 0 auto;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul li{
    float: left;
    width: 150px;
    text-align: center;
    position: relative;
    margin: 0 15px;
}

nav a{
    display: block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    color: white;
    font-weight: bold;
}

nav a:hover{
    border-bottom: 2px solid white;
}

.sous-menu{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous-menu{
    display: block;
}
.sous-menu li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous-menu a{
    padding: 10px;
    border-bottom: none;
    color: black;
}
.sous-menu a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

i {
    margin-right: 10px;
}

.deconnexion {
    display: grid;
    place-content: center;
    color: white;
    margin: 0;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #0004ff8a;
    width: 50px;
    height: 50px;
    text-decoration: none;
    transition: .1s;
}

.deconnexion:hover {
    color: #3274d6;
    background-color: white;
    transition: .1s;
}

.deconnexion i {
    margin: 0 auto;
}
