* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    color: white;
    background-color: #0f2647;
    display: grid;
    place-content: center;
    height: 50px;
}

.github {
    text-decoration: none;
    color: white;
    border-radius: 15px;
    background-color: #3274d6;
    padding: 3px 6px;
    transition: .1s;
    margin-left: 5px;
}

.github:hover {
    background-color: #2a5eac;
}

.github i{
    margin: 0;
    margin-left: 5px;
}

.erreur {
    display: grid;
    place-content: center;
    height: calc(100vh - 140px);
}